.App {
	text-align: center;
	background-color: #f2f2f2;
}

/* Create a surprise splash of details when the user over-scrolls. */
html body {
	background-color: #113654;
}

.list-group {
	padding: 1em;
}

button.list-group-item {
	background-color: #113654;
	color: white;
	margin: 0.5em 0 0.5em 0;
	border-radius: 0.5em;
}

button.list-group-item:hover {
	background-color: #d98401;
	cursor: pointer;
}

.Bucket {
	border: 1px solid black;
}
