body {
	background-color: #113654;
	margin: 0;
	padding: 0;
}

.App {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}

.container {
	background-color: #f2f2f2;
	max-width: 50em;
	margin: 0 auto 0 auto;
	border-left: 1px solid #113654;
	border-right: 1px solid #113654;
}

header {
	text-align: center;
	margin-top: -2em;
}

header h1 {
	padding-top: 0.5em;
}

#explanation {
	padding: 0 1em 0 1em;
	text-align: left;
}

button.list-group-item:hover {
	background-color: #d98401;
	cursor: pointer;
}

.Buckets {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	margin: -2em 1em 0 1em;
}

.Buckets h2.bucket-title {
	position: sticky;
	top: -1px;
	background-color: #f2f2f2;
	padding-top: 0.5em;
}

.Bucket {
	flex: 0 0 12em;
}

ul.values {
	list-style: none;
	text-align: left;
	padding: 0;
}

ul.values li {
	padding: 0.5em;
	border: 1px solid black;
	background-color: #113654;
	color: white;
	margin: 0.5em 0 0.5em 0;
	border-radius: 0.5em;
	width: 150px;
}

footer {
	width: 100%;
	background-color: #d98401;
	color: white;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
}

footer a {
	color: white;
}
